<!--<div>
  <app-datevalidation></app-datevalidation>
</div>-->


  <md-input-container class="example-full-width">
    <input mdInput [mdDatepicker]="picker1" placeholder="Choose a start date" #startDate>
    <button mdSuffix [mdDatepickerToggle]="picker1"></button>
  </md-input-container>
  <md-datepicker touchUi="true" #picker1></md-datepicker>
  <span style="display:block;  width:100px;"></span>
  <md-input-container class="example-full-width">
    <input mdInput [mdDatepicker]="picker2" placeholder="Choose an end date" #endDate>
    <button mdSuffix [mdDatepickerToggle]="picker2"></button>
  </md-input-container>
  <md-datepicker touchUi="true" #picker2></md-datepicker>
  <span style="display:block;  width:100px;"></span>

  <button md-fab (click)="checkForValidationDates(startDate.value, endDate.value)"><md-icon>check</md-icon></button>

  <span id="isValidMessage" style="display: none;">{{resultOfValidation}}</span>
  <span id="interval" style="display: none;">{{newEndDate | amDifference: newStartDate :'days' : true | round}} days </span>









